* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.content {
    max-width: 1024px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: #bf2247;
    font-size: 60px;
    text-align: center;
    padding: 50px 60px;
}

.main_slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 70px;
    height: 80px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2;
    border: 1px solid gray;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5%;
    padding: 10px;
    margin: 10px 0 10px 0;
    
    .foto {
        border-radius: 50%;
        height: 300px;
        width: 280px;
    }

    p {
        color: rgb(47, 44, 44);
        font-style: italic;
        font-size: 24px;
        font-weight: 400;
        padding-top: 15px;
    }
}

button {
    font-weight: 500;
    font-size: 24px;            
    color: rgb(47, 44, 44);
    border: 1px solid #bf2247;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px;
    width: 300px;
    
    cursor: pointer;
    transition: 500ms linear;

        &:hover {
            color: #bf2247;
            background-color: rgb(176, 166, 166);;
        }
}